<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RAP Perspective"
            class="org.eclipse.rap.security.demo.Perspective"
            id="org.eclipse.rap.security.demo.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.rap.security.demo.view.SubjectView"
            id="org.eclipse.rap.security.demo.view"
            name="Subject"
            restorable="true">
      </view>
   </extension>

<extension
      id="security"
      point="org.eclipse.core.runtime.applications">
   <application
         cardinality="singleton-global"
         thread="main"
         visible="true">
      <run
            class="org.eclipse.rap.security.demo.Application">
      </run>
   </application>
</extension>

  <extension id="unixLoginModule"
           name="Unix Login Module"
           point="org.eclipse.equinox.security.loginModule">
   <loginModule
       class="com.sun.security.auth.module.UnixLoginModule"
       description="Unix Login Module">
   </loginModule>
   </extension>
</plugin>
